node_modules/
.env
.env.*
.playwright/
**/.playwright/
.data/
**/.data/
.models/
**/.models/
.images/
**/.images/
windows/bin/
**/bin/
test_res.jpg
test-results/
npm-debug.log*
.electron/
**/.electron/
apps/posting/.image-engine/
**/.image-engine/

